# ROS2 & Colcon
build/
install/
log/
*/build/
*/install/
*/log/

# System & IDE
.DS_Store
.vscode/
.idea/

# Caches & Binaries
__pycache__/
*.py[cod]
*.o
*.so

# Apptainer / Singularity (IL COLPEVOLE)
.apptainer/
*.sif


*.zip